templates:
  - templates
ignore:
  - .DS_Store
  - .gitkeep
sets:
  default:
    headers:
      - default.yml
  local_base:
    headers:
      - dotenv.yml
    vars:
      - cleanup.yml
      - time.yml
    tasks:
      - default.yml
      - cleanup.yml
      - notify.yml
      - time.yml
files:
  THIS_PROJECT:
    path: "Taskfile.yml"
    sets:
      - local_base
    vars:
      - THIS_PROJECT.yml
    tasks:
      - THIS_PROJECT.yml
  cleanup:
    path: "examples/cleanup/Taskfile.yml"
    sets:
      - local_base
  docker_buildx:
    path: "examples/docker_buildx/Taskfile.yml"
    sets:
      - local_base
    tasks:
      - docker_buildx.yml
  docker:
    path: "examples/docker/Taskfile.yml"
    sets:
      - local_base
    tasks:
      - docker.yml
  go:
    path: "examples/go/Taskfile.yml"
    sets:
      - local_base
    vars:
      - go.yml
    tasks:
      - go.yml
  os:
    path: "examples/os/Taskfile.yml"
    sets:
      - local_base
    vars:
      - os.yml
    tasks:
      - os.yml
  skopeo:
    path: "examples/skopeo/Taskfile.yml"
    sets:
      - local_base
    tasks:
      - skopeo.yml
  tf-cml:
    path: "examples/tf-cml/Taskfile.yml"
    sets:
      - local_base
    tasks:
      - tf-cml.yml
  uv:
    path: "examples/uv/Taskfile.yml"
    sets:
      - local_base
    tasks:
      - uv.yml
  zensical:
    path: "examples/zensical/Taskfile.yml"
    sets:
      - local_base
    tasks:
      - zensical.yml
